body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
#catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  padding: 20px;
  gap: 20px;
}
.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}
